:root{
    --off-canvas-width:270px;
    --topNavbarHeight:56px;
  }
  
  .sidebar-nav{
    width:var(--off-canvas-width)
    
  }
  
  @media (min-width:992px){
    body{
      overflow:auto !important;
    }
    .offcanvas-backdrop{
      display:none;
    }
    .main{
        margin-left:var(--off-canvas-width)
    }
    .sidebar-nav{
      transform:none;
      visibility: visible !important;
      /* top:var(--topNavbarHeight); */
      /* height:calc(100% - var(--topNavbarHeight)) */
    }
  }